.bar{
 
font-size: 25px;
padding: 5px;

}
#colo{
color: #123f6f;
margin-right: 20px;
margin-left: 20px;
}
.foimg{
  width: 250px;
  height: 150px;
}
.social{
  width: 30px;
  height: 30px;
}
.car{
  width: 50px;
  height: 50px;
}
.h1{
  display: inline-block;
  position: relative;
  

}
.h1::after,.h1::before{
  content: '';
  position: absolute;
  width: 30vw;
  height: 3px;
  top: 0.6em;
  background-color:  #123f6f;
}
.h2{
  display: inline-block;
  position: relative;
  

}
.h2::after,.h2::before{
  content: '';
  position: absolute;
  left: -30vw;
  right: -30vw;
  width: 30vw;
  height: 3px;
  top: 0.6em;
  background-color: #123f6f;
}


 #menu{
            height: 104px;
            font-size: 20px;
           
        }
        
   
       
         
        #img1{
          height: 400px;

        }
         #img2{
          height: 314px;
          text-align: center;
          color: #123f6f;
        }
        #img3{
          height: 130px;
          background-color: #2F5CDF  ;
          text-align: right;
          color: white;   
        }
        .img4{
          height: 35px;
          background-color: #FF33BE  ;
      

        }
         .video1{
          height: 470px;
          width: 740px;
          background-color: #E6FF33  ;
      
        }
          .Titulo{
          height: 40px;
          background-color: #FFBE33   ;
      
        }
            .margen{
          /*height: 268px;*/
          background-color: #33DAFF ;
      
        }
             .sellos{
          height: 230px;
          background-color: #DFB0F5 ;
      
        }
           
            .sello1{
          height: 263px;
          width: 168;
          background-color: #DFEC91  ;
      
        }
           .desc{
          height: 230px;

          background-color: #BA63E3  ;
      
        }
           .sello2{
          height: 168px;
          width: 168;
          background-color: #DFEC91  ;
      
        }
           .explorador{
          height: 171px;
          background-color: #A0E141  ;
      
        }
        #texto2{
          width: 100%;
          background-color:transparent;
          text-align: center;
      
        }
        #distintivo{
      height: 192px;
      background-color: #126EB5;
      color: white;
        }
        .p{
          color: #126EB5 ;
        }
       #texto3{
          height: 130px;
          background-color: #699EF5  ;
          text-align: center;
          color: white;
        }
        #texto4{
          height: 130px;
          background-color: #699EF5  ;
          text-align: center;
          color: white;
        }
        #footer{
          background-color:#E3E3E2;
          color: gray;
        }
        #logo2 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
}
#tex{
font-size: 5vw;
}
/*estilos carrito*/
#carrito{
 float: right;  
 margin: 10px 40px;
 display: block;

 

}
.texcarrito{
  text-align: right;
  color: green;
}
.fila1{
  background-color: #E7ECF3;
}
#producto{
  margin: 10px 40px;
  text-align:center;
}
#descripcion{
  margin: 10px 40px;
  text-align:center;
}
#precio{
  margin: 10px 40px;
  text-align:center;

}
#cantidad{
  margin: 10px 40px;
  text-align:center;

}
#total{
  margin: 10px 40px;
  text-align:center;

}
/*tuwall*/
.selecciona{
   background-color: blue ;
   width: 100%;
  height: 130px;
}
#imglayouts{
   display: block;
   margin:auto;

}
#imgmarcos{
    display: block;
    margin:auto;
}
.text{
   text-align:center;

}
.form-label{
  margin-left: 30%;
}
#customRange1 {
  display: inline-block;
  width: 200px;
  height: 100px;
  padding: 0;
}
#customRange1 input{
  width: 1px;
  height: 2px;
  margin: 0;
  transform-origin: 75px 75px;
}
#rotar{
margin-left: 30%;
}
#reflejar{
  margin-left: 10%;

}
.fotos{
  background-color: #E7E7E7 ;
  width: 100%;
  height: 490px;
}
.columna1{
  width: 100%;
  height: 490px;

}
.mensaje{
  text-align:  justify;
  color: blue;
}
.subrayado{
text-align: center;
}
.h5{
  text-align: center;
  color: blue;

}
.btn{
    background-color: #123F6F; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
  
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px

}
.columna2{
  width: 100%;
  height: 490px;
  background-color: white ;

}
.fondo{
  background-color:#EAF1FB ;
  width: 100%;
  height: 385px;
}
.layout{
  background-color: white;
} 
.h2{
  text-align: center;
  color:#2B4D7D;
}
.pic{
  background-color: blue;
  width: 100%;
  height: 130px;
}
.circulos1{
  width: 100%;
  height: 67px;
}
.circulos2{
  width: 100%;
  height: 223px;
}
.marco{
  background-color: #E7E7E7 ;
  width: 100%;
  height: 725px;
}
/* estilos juan*/
.medida{
  width: 1140px;
  height: 130px;
}

.con{
  width: 1140px;
  height: auto;
  background-color: #00e676;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}
.cargaimagen{
  float: right;
  width: 550px;
  height: 390px;
  background-color: gray;
  padding: 30px;
}
.relleno1{
width: 490px;
  height: 330px;
  background-color: orange;
  padding: 30px;
}
.relleno2{
 width: 430px;
  height: 270px;
  background-color:red;
   
}
.sub{
  width: 430px;
  height: 80px;

}
.fo{
 float: right;
  width: 200px;
  height: 500px;
  background-color: gray;
}
.te{
 
  font-size: 40px;
  color: #126EB5;

}